<!DOCTYPE html>







<html class="responsive">
<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <link rel="shortcut icon" href="https://dxxa4vsndrg3h.cloudfront.net/static/img/favicon.ico" type="image/x-icon" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ehgnodicapndiaonifglnkbhpmblepdg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content=""/>
    <meta property="og:url" content=""/>
    
    <meta property="og:description" content=""/>

    <script src="https://cdn.ravenjs.com/3.0.2/raven.min.js"></script>
    <script>
        Raven.config('https://6def6de5c3244284ba11a629f09a0aac@app.getsentry.com/3273').install();
        
    </script>

    <script>
        STATIC_URL = 'https://dxxa4vsndrg3h.cloudfront.net/static/';
        MEDIA_URL = 'https://dxxa4vsndrg3h.cloudfront.net/media/';
        INSTANCE_NOUN = 'Tri-FAQ - Mark Allen Coaching';
        DATE_FORMAT = 'MM/DD/YYYY';
        
            PROFILE_ID = null;
        

        
            PAGE_CONTEXT_TYPE = null;
            PAGE_CONTEXT_SLUG = null;
        
        
            REQUIRE_TOPIC = true;
        
        
            FYIS = true;
        
        
            WEBRTC_SCREENCAST = true;
        
        
    </script>

    <title>Tri-FAQ - Mark Allen Coaching - Mark Allen Coaching</title>

    <link rel="stylesheet" href="https://dxxa4vsndrg3h.cloudfront.net/static/compressed/css/826bf8702aa4.css" type="text/css" />

    <link rel="stylesheet" href="https://dxxa4vsndrg3h.cloudfront.net/static/compressed/css/953bf661dc3e.css" type="text/css" />



    <script type="text/javascript" src="https://dxxa4vsndrg3h.cloudfront.net/static/js/jsi18n.js"></script>

    


    
        <script src="https://dxxa4vsndrg3h.cloudfront.net/static/js/app.js?v=df6e804"></script>
        <script>
            require.config({
                baseUrl:  "https://dxxa4vsndrg3h.cloudfront.net/static/js",
                waitSeconds: 60,
                urlArgs: 'v=df6e804'
            });
        </script>
    


    
    <script>
        require(['common'], function() {
            
            require(['dashboard'], function(init_dashboard) {
                init_dashboard(premiumMap);
                
                    require(['purchase-warning']);
                
            });
        });
    </script>


    
    <link rel="stylesheet" href="https://dxxa4vsndrg3h.cloudfront.net/static/compressed/css/e350d9d990b6.css" type="text/css" />

    <script>
        SEARCH_URL = '/search/api?hl=1&sg=1';
        GOOGLE_DRIVE_SEARCH = '/search/api/google-drive-search';
        BOX_SEARCH_URL = '/search/api/box-search';
        SCREENR_TOKEN = '6cf60d5a7b6446878bea4d312a742641';
        CAMERATAG_TOKEN = 'ebf89110-dc04-0130-4257-22000a8a2fee';
        GOOGLEDRIVE_CLIENTID = '462494978074.apps.googleusercontent.com';
        GOOGLE_IFRAME_SRC = 'https://mindquilt.mindquilt.com/documents/api/load-google-iframe';
    </script>
    <script>
        require(['common'], function(){
            
            
                require(['https://dxxa4vsndrg3h.cloudfront.net/media/companies/641/js/custom_GbplpF6.js']);
            
        });
    </script>
    <script>
        FEATURES = {
            certificates: 'false',
            box_integration: 'false',
            cross_uploads: 'True'
        }
    </script>


    

    

    
        <link rel="stylesheet" type="text/css" href="https://dxxa4vsndrg3h.cloudfront.net/media/companies/641/css/custom_3mhlCrQ.css" charset="utf-8"/>
    

    
        <link rel="stylesheet" type="text/css" href="https://dxxa4vsndrg3h.cloudfront.net/media/companies/641/css/theme_qnzhnoD.css" charset="utf-8"/>
    

</head>

<body>

    

    <div id="left-sidebar" class="sidebar">
        <a href="/" class="logo-container">
            
                
                    <img src="https://dxxa4vsndrg3h.cloudfront.net/media/cache/b9/a5/b9a5ea0a4da05863b9756d28ab2c97f1.png"/>
                
            
        </a>

        <a href="#" id="mobile-menu-header"><i class="icon icon-reorder mobile-menu-icon"></i></a>
        <div class="main-nav-list">
            <ul class="menu">

                

                <li class="menu-item library" id="menu-item-library">
                    <a href="/" class="">
                        <i class="icon menu-expander icon-angle-down"></i>
                        <i class="icon icon-folder-close"></i>
                        <div class="menu-item-text">Library</div>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-subheader" id="menu-item-topics">
                            <i class="icon menu-expander icon-angle-down"></i>
                            Topics
                        </li>
                        <div class="sidebar-submenu">
                            
                            
                                
                                <li class="library-item">
                                    <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                    <a href="/topics/training">
                                        <i class="square" style="background-color: #16a085"></i>
                                        <div class="ellipsize">Training</div>
                                    </a>
                                </li>
                                
                            
                                
                                <li class="library-item">
                                    <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                    <a href="/topics/racing">
                                        <i class="square" style="background-color: #16a085"></i>
                                        <div class="ellipsize">Racing</div>
                                    </a>
                                </li>
                                
                            
                                
                                <li class="library-item">
                                    <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                    <a href="/topics/nutrition">
                                        <i class="square" style="background-color: #34495e"></i>
                                        <div class="ellipsize">Nutrition</div>
                                    </a>
                                </li>
                                
                            
                                
                                <li class="library-item">
                                    <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                    <a href="/topics/equipment">
                                        <i class="square" style="background-color: #f39c12"></i>
                                        <div class="ellipsize">Equipment</div>
                                    </a>
                                </li>
                                
                            
                                
                                <li class="library-item">
                                    <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                    <a href="/topics/mindset">
                                        <i class="square" style="background-color: #e74c3c"></i>
                                        <div class="ellipsize">Mindset</div>
                                    </a>
                                </li>
                                
                            
                                
                                <li class="library-item">
                                    <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                    <a href="/topics/mac-application">
                                        <i class="square" style="background-color: #2980b9"></i>
                                        <div class="ellipsize">MAC Application</div>
                                    </a>
                                </li>
                                
                            
                            
                            
                        </div>

                        <li class="sidebar-subheader" id="menu-item-ctypes">
                            <i class="icon menu-expander icon-angle-down"></i>
                            Content Types
                        </li>
                        <div class="sidebar-submenu">
                            <li class="library-item">
                                <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                <a href="/questions/">
                                    <i class="content-icon icon-question-sign"></i>Questions
                                </a>
                            </li>
                            <li class="library-item">
                                <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                <a href="/notes/">
                                    <i class="content-icon icon-edit"></i>Notes
                                </a>
                            </li>
                            <li class="library-item">
                                <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                <a href="/documents/">
                                    <i class="content-icon icon-file"></i>Documents
                                </a>
                            </li>
                            <li class="library-item">
                                <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                <a href="/videos/">
                                    <i class="content-icon icon-film"></i>Videos
                                </a>
                            </li>
                            
                            <li class="library-item">
                                <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                <a href="/series/">
                                    <i class="content-icon icon-list-alt"></i>Series
                                </a>
                            </li>
                            
                            
                            
                            <li class="library-item">
                                <div class="folder-tab">
    <div class="folder-tab-body"></div>
    <div class="folder-tab-slope back-slope"></div>
    <div class="folder-tab-slope"></div>
</div>
                                <a href="/externallinks/">
                                    <i class="content-icon icon-external-link"></i>Links
                                </a>
                            </li>
                            
                            
                        </div>
                    </ul>
                </li>

                <li class="menu-item users" id="menu-item-users">
                    <a href="/users" class="">
                        <i class="icon menu-expander icon-angle-down"></i>
                        <i class="icon icon-user"></i><div class="menu-item-text">Users</div>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="users-item">
                            <a href="/users">
                                <i class="square icon-user"></i>All Users
                            </a>
                        </li>
                        
                            <li class="users-item">
                                <a href="/leaderboard">
                                    <i class="square icon-trophy"></i>Leaderboard
                                </a>
                            </li>
                        
                        
                    </ul>
                </li>

                

            </ul>
        </div>
    </div>
    



    <div class="content-container container-fluid ">

        <div class="row-fluid">
            <div class="top-container span12">
                <div id="search" class="span8">
                    
                    <form id="search-input" action="/search/advanced" method="get">
                        <i class="icon-search"></i>
                        <div class="search-scope">
                            
                                <select>
                                    <option></option>
                                    <option value="archive" >Archive</option>
                                    
                                    <optgroup label="Topics">
                                        
                                            <option value="topic:53341" >Training</option>
                                        
                                            <option value="topic:53387" >Racing</option>
                                        
                                            <option value="topic:53690" >Nutrition</option>
                                        
                                            <option value="topic:53689" >Equipment</option>
                                        
                                            <option value="topic:53691" >Mindset</option>
                                        
                                            <option value="topic:53676" >MAC Application</option>
                                        
                                    </optgroup>
                                    <optgroup label="Groups">
                                        
                                    </optgroup>
                                </select>
                            
                        </div>
                        <input type="text" name="q" id="uniSearch" placeholder="Search or ask a question..." autocomplete="off" value="">
                        <input type="hidden" name="scope"/>
                        
                    </form>

                    <div class="popover bottom span12" id="search-results-container">
                        <div class="arrow"></div>
                        <div class="search-results-content"></div>
                    </div>
                </div>

                
                    <div id="top-menu" class="nav pull-right login-btn">
                        <a class="btn btn-small" href="/account/login">Login</a>
                    </div>
                

            </div>


            

            
                
                
                <div class="content-inner span8">
                    <div id="mobile-add-content">
                        



                    </div>
                    
    
    
        
        




<div class="featured-topics-container featured-box topic-__home__ content-section" data-box-id="19610">
    <div class="featured-topics-content">

    <h2 class="section-title featured-box-title">
        <span id='featured-topics-title'>Featured Topics</span>
        <div class="btn-group pull-right featured-box-menu admin-only">
            <button class="btn icon-cog dropdown-toggle" data-toggle="dropdown" href="#"></button>
            <ul class="dropdown-menu">
                <li><a href="javascript:" class="show-topic-add-dialog">Add Topic</a></li>
                
                    <li><a href="javascript:" class="sort-items">Rearrange Topics</a></li>
                
                <li class="divider"></li>
                
                <li><a href="javascript:" class="edit-title">Rename Section</a></li>
            </ul>
        </div>
    </h2>

    <ul class="featured-topics card-container default">
        
                
                
                    <div class="topic-card cover-present" data-topic-slug="training" data-id="10893" data-cover-url="companies/641/topics/covers/BeachRun3.jpg"
     
        style="background-image: url('https://dxxa4vsndrg3h.cloudfront.net/media/cache/53/34/5334c2982b5252b4dd8c988b138aeff0.jpg');background-color: #16a085"
     
        >
    <div class="cover-placeholder" style="background-color: #16a085"></div>
    <div class="topic-overlay">
        <div class="topic-overlay-content">
            <div class="topic-card-title" data-topic-url="/topics/training">
                <div class="topic-name">Training</div>
            </div>
        </div>
    </div>

    <div class="topic-overlay-hover">
        <div class="topic-overlay-content">
                <a href="/topics/training" class="topic-card-title">
                    <div class="topic-name">Training</div>
                </a>
                <div class="topic-description"></div>
                
                    
                    
                        <div class="subtopic" data-url="/topics/base-training">
                            Base Training
                        </div>
                    
                        <div class="subtopic" data-url="/topics/bike-training">
                            Bike Training
                        </div>
                    
                        <div class="subtopic" data-url="/topics/run-training">
                            Run Training
                        </div>
                    
                        <div class="subtopic" data-url="/topics/speedwork">
                            Speedwork
                        </div>
                    
                        <div class="subtopic" data-url="/topics/strength-training">
                            Strength Training
                        </div>
                    
                        <div class="subtopic" data-url="/topics/swim-training">
                            Swim Training
                        </div>
                    
                        <div class="subtopic" data-url="/topics/tapering">
                            Tapering
                        </div>
                    
                    
                    <div class="clear"></div>
                
        </div>
    </div>
    <div class="btn-group dropdown admin-only">
        <i class="icon-cog folder-cog topic-settings-btn"></i>
    </div>

    <div class="sorting-overlay"></div>

</div>
            
        
                
                
                    <div class="topic-card cover-present" data-topic-slug="racing" data-id="10983" data-cover-url="companies/641/topics/covers/IMG_0087 (2).jpg"
     
        style="background-image: url('https://dxxa4vsndrg3h.cloudfront.net/media/cache/09/aa/09aa9f7c4d13c69ad24d4812baef05f6.jpg');background-color: #16a085"
     
        >
    <div class="cover-placeholder" style="background-color: #16a085"></div>
    <div class="topic-overlay">
        <div class="topic-overlay-content">
            <div class="topic-card-title" data-topic-url="/topics/racing">
                <div class="topic-name">Racing</div>
            </div>
        </div>
    </div>

    <div class="topic-overlay-hover">
        <div class="topic-overlay-content">
                <a href="/topics/racing" class="topic-card-title">
                    <div class="topic-name">Racing</div>
                </a>
                <div class="topic-description"></div>
                
                    
                    
                        <div class="subtopic" data-url="/topics/ironman">
                            Ironman
                        </div>
                    
                        <div class="subtopic" data-url="/topics/ironman-703">
                            Ironman 70.3
                        </div>
                    
                        <div class="subtopic" data-url="/topics/olympic-distance">
                            Olympic Distance
                        </div>
                    
                        <div class="subtopic" data-url="/topics/running-races">
                            Running Races
                        </div>
                    
                        <div class="subtopic" data-url="/topics/sprint">
                            Sprint
                        </div>
                    
                    
                    <div class="clear"></div>
                
        </div>
    </div>
    <div class="btn-group dropdown admin-only">
        <i class="icon-cog folder-cog topic-settings-btn"></i>
    </div>

    <div class="sorting-overlay"></div>

</div>
            
        
                
                
                    <div class="topic-card cover-present" data-topic-slug="nutrition" data-id="10985" data-cover-url="companies/641/topics/covers/Featured_news_images_NUTRITION_2.jpg"
     
        style="background-image: url('https://dxxa4vsndrg3h.cloudfront.net/media/cache/67/2b/672bbd18ed2ae693fc49ac7fcc77e30f.jpg');background-color: #34495e"
     
        >
    <div class="cover-placeholder" style="background-color: #34495e"></div>
    <div class="topic-overlay">
        <div class="topic-overlay-content">
            <div class="topic-card-title" data-topic-url="/topics/nutrition">
                <div class="topic-name">Nutrition</div>
            </div>
        </div>
    </div>

    <div class="topic-overlay-hover">
        <div class="topic-overlay-content">
                <a href="/topics/nutrition" class="topic-card-title">
                    <div class="topic-name">Nutrition</div>
                </a>
                <div class="topic-description"></div>
                
                    
                    
                        <div class="subtopic" data-url="/topics/race-day-nutrition">
                            Race Day Nutrition
                        </div>
                    
                        <div class="subtopic" data-url="/topics/training-nutrition">
                            Training Nutrition
                        </div>
                    
                    
                    <div class="clear"></div>
                
        </div>
    </div>
    <div class="btn-group dropdown admin-only">
        <i class="icon-cog folder-cog topic-settings-btn"></i>
    </div>

    <div class="sorting-overlay"></div>

</div>
            
        
                
                
                    <div class="topic-card cover-present" data-topic-slug="equipment" data-id="10987" data-cover-url="companies/641/topics/covers/cassette_2_9jDxYtc.jpg"
     
        style="background-image: url('https://dxxa4vsndrg3h.cloudfront.net/media/cache/0d/c6/0dc688d934ce1d531431fa9dfb33c1c5.jpg');background-color: #f39c12"
     
        >
    <div class="cover-placeholder" style="background-color: #f39c12"></div>
    <div class="topic-overlay">
        <div class="topic-overlay-content">
            <div class="topic-card-title" data-topic-url="/topics/equipment">
                <div class="topic-name">Equipment</div>
            </div>
        </div>
    </div>

    <div class="topic-overlay-hover">
        <div class="topic-overlay-content">
                <a href="/topics/equipment" class="topic-card-title">
                    <div class="topic-name">Equipment</div>
                </a>
                <div class="topic-description"></div>
                
                    
                    
                        <div class="subtopic" data-url="/topics/bike-gear">
                            Bike Gear
                        </div>
                    
                        <div class="subtopic" data-url="/topics/monitors">
                            Monitors
                        </div>
                    
                        <div class="subtopic" data-url="/topics/run-gear">
                            Run Gear
                        </div>
                    
                        <div class="subtopic" data-url="/topics/swim-gear">
                            Swim Gear
                        </div>
                    
                    
                    <div class="clear"></div>
                
        </div>
    </div>
    <div class="btn-group dropdown admin-only">
        <i class="icon-cog folder-cog topic-settings-btn"></i>
    </div>

    <div class="sorting-overlay"></div>

</div>
            
        
                
                
                    <div class="topic-card cover-present" data-topic-slug="mindset" data-id="10986" data-cover-url="companies/641/topics/covers/img036.jpg"
     
        style="background-image: url('https://dxxa4vsndrg3h.cloudfront.net/media/cache/1f/32/1f32c4070b44a9ab2641862085a8ddf0.jpg');background-color: #e74c3c"
     
        >
    <div class="cover-placeholder" style="background-color: #e74c3c"></div>
    <div class="topic-overlay">
        <div class="topic-overlay-content">
            <div class="topic-card-title" data-topic-url="/topics/mindset">
                <div class="topic-name">Mindset</div>
            </div>
        </div>
    </div>

    <div class="topic-overlay-hover">
        <div class="topic-overlay-content">
                <a href="/topics/mindset" class="topic-card-title">
                    <div class="topic-name">Mindset</div>
                </a>
                <div class="topic-description"></div>
                
        </div>
    </div>
    <div class="btn-group dropdown admin-only">
        <i class="icon-cog folder-cog topic-settings-btn"></i>
    </div>

    <div class="sorting-overlay"></div>

</div>
            
        
                
                
                    <div class="topic-card cover-present" data-topic-slug="mac-application" data-id="10982" data-cover-url="companies/641/topics/covers/Screen Shot 2017-01-20 at 9.15.42 PM_UsneDY4.png"
     
        style="background-image: url('https://dxxa4vsndrg3h.cloudfront.net/media/cache/2c/fa/2cfac3d120fe39a1dcf105472ffb341c.jpg');background-color: #2980b9"
     
        >
    <div class="cover-placeholder" style="background-color: #2980b9"></div>
    <div class="topic-overlay">
        <div class="topic-overlay-content">
            <div class="topic-card-title" data-topic-url="/topics/mac-application">
                <div class="topic-name">MAC Application</div>
            </div>
        </div>
    </div>

    <div class="topic-overlay-hover">
        <div class="topic-overlay-content">
                <a href="/topics/mac-application" class="topic-card-title">
                    <div class="topic-name">MAC Application</div>
                </a>
                <div class="topic-description"></div>
                
        </div>
    </div>
    <div class="btn-group dropdown admin-only">
        <i class="icon-cog folder-cog topic-settings-btn"></i>
    </div>

    <div class="sorting-overlay"></div>

</div>
            
        
    </ul>
    </div>
    <div class="clear"></div>
</div>

<script>
    FEATURED_TOPICS_URLS = {
        update_position: '/_api/topics/update-featured-position/',
        remove_featured : '/topics/api/remove-featured-topic/0/',
        set_color: '/topics/api/set-topic-color/0/',
    }
</script>




<script type="text/html" id="featured-topic-template">

</script>

    
    
    <div id="tour-featured-items-content"></div>
    
        



<div class="featured-boxes-container content-section" xmlns="http://www.w3.org/1999/html">

        
        <div class="featured-box" id="featured-box-19611" data-section="content" data-box-id="19611">
            <div class="featured-box-content">
                <h2 class="section-title featured-box-title admin-only">
                    <span>Featured Items</span>
                    <div class="btn-group pull-right featured-box-menu admin-only">
                        <button class="btn icon-cog dropdown-toggle" data-toggle="dropdown" href="#"></button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:" class="show-add-dialog">Add Featured Item</a></li>
                            
                            <li class="divider"></li>
                            <li><a href="javascript:" class="edit-title">Rename Section</a></li>
                            <li><a href="javascript:" class="remove-section">Remove Section</a></li>
                        </ul>
                    </div>
                </h2>
                <div class="featured-items card-container " data-box-id="19611">
                    
                </div>
                
                    <li class="featured-item placeholder show-add-dialog admin-only" data-box-id="19611" data-section="content">
                        <p>Add Featured Item</p>
                    </li>
                
                <div class="clear"></div>
                <div class="sorting-overlay"></div>
            </div>
        </div>


<div class="clear"></div>
</div>

    


                </div>
                <div class="clear"></div>
            

            
            <div class="span4 sidebar right-sidebar">
                <div class="clear"></div>
                    <div id="add-content">
                        



                    </div>

                
    
        



<div class="featured-boxes-container content-section" xmlns="http://www.w3.org/1999/html">

        
        <div class="featured-box" id="featured-box-19676" data-section="sidebar" data-box-id="19676">
            <div class="featured-box-content">
                <h2 class="section-title featured-box-title">
                    <span>MAC Monthly Newsletters</span>
                    <div class="btn-group pull-right featured-box-menu admin-only">
                        <button class="btn icon-cog dropdown-toggle" data-toggle="dropdown" href="#"></button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:" class="show-add-dialog">Add Featured Item</a></li>
                            
                            <li class="divider"></li>
                            <li><a href="javascript:" class="edit-title">Rename Section</a></li>
                            <li><a href="javascript:" class="remove-section">Remove Section</a></li>
                        </ul>
                    </div>
                </h2>
                <div class="featured-items card-container cards-horizontal" data-box-id="19676">
                    
                        
                        
                            




<div class="card series cover-present"
          data-id="3360" data-post-id="3360" 
         data-type="series">
    
        <a href="/series/mac-on-boarding-series" class="card-cover"
           style="background-image: url(https://dxxa4vsndrg3h.cloudfront.net/media/cache/54/62/5462ea0d49567bfec659d7432c063ca0.jpg)"
           >
            
                
            
            <div class="card-cover-title">
                <ul><li>1. Intro MAC Make Program</li><li>2. Step #1 MAC Make Program</li><li>3. Step #2 MAC Make Program</li><li>4. Step #3 MAC Make Program</li><li>5. Step #4 MAC Make Program</li><li>6. Step #5 MAC Make Program</li></ul>
            </div>
        
        </a>
    

    <div class="card-info">
        

        

        

        <div class="card-title">
            
                <a href="/series/mac-on-boarding-series">MAC On-Boarding Series</a>
            
        </div>

        

        <div class="card-author">
            
            
                <div class="card-author-avatar">
                    
<div class="avatar" data-profile-id="98517" data-profile-slug="team-tri-faq">
    <a href="/users/team-tri-faq">
        <img src="https://dxxa4vsndrg3h.cloudfront.net/media/cache/db/0a/db0a71bc261af67d69cbbb078c8e7199.jpg" class="popover-trigger" style="width:20px; height:20px;"/>

    </a>
</div>

                </div>

                <div class="card-author-name ellipsize">
                    Team Tri-FAQ
                </div>

                <div class="card-date">
                    Feb 14
                </div>
            
        </div>
    </div>

    <div class="sorting-overlay"></div>
    <div class="clear"></div>

    
                                    <div class="card-menu pull-right ">
                                        <button class="btn icon-cog dropdown-toggle settings-btn admin-only" href="#"></button>
                                    </div>
                                

    <div class="select-post-overlay">
        <i class="icon icon-check-sign"></i>
    </div>
</div>

                        
                    
                </div>
                
                <div class="clear"></div>
                <div class="sorting-overlay"></div>
            </div>
        </div>


    <div class="featured-container-menu pull-right admin-only" style="position: relative">
            <div class="btn btn-small dropdown-toggle container-options-btn" data-toggle="dropdown">Featured Boxes</div>
            <ul class="dropdown-menu">
                <li><a class="new-featured-box-btn" data-section="sidebar" href="#">Add Featured Box</a></li>
                <li class="hidden"><a class="sort-boxes-btn" href="#">Rearrange Featured Boxes</a></li>
            </ul>
            <div class="sort-buttons">
                <button class="btn btn-small save-order-btn">Save Order</button>
                <button class="btn btn-small cancel-sort-btn">Cancel</button>
            </div>


    </div>

<div class="clear"></div>
</div>

    

    

            </div>
            

        </div>
        <div class="mask" id="search-mask"></div>
    </div>

    <div id="statusMessage"></div>

    

    



    
<script type="text/javascript">
    FEATURED_URLS = {
        item_search: '/_api/search/posts',
        feature_item: '/_api/posts/feature-post/0/1',
        remove_featured: '/_api/posts/delete-featured-item/0',
        update_items_position: '/_api/posts/update-position',
        update_boxes_position: '/_api/posts/update-featured-box-position'
    };







</script>


<script type="text/html" id="upload-done-template">








    <div class="card">

        <div class="card-cover">
            <img src="<%= thumbnail_url %>"/>
        </div>

        <div class="card-info">
            <div class="card-title">
                <%= title %>
            </div>

            <div class="card-author">
                <div class="card-author-avatar">
                </div>

                <div class="card-author-name">
                </div>

                <div class="card-date">
                </div>
            </div>

        </div>

    </div>

</script>

<script type="text/html" id="title-input">
    <input class="title-input" maxlength="255" type="text" name="box_title" data-url="/_api/posts/edit-featured-box-name/0"/>
    <a href="javascript:" class="title-edit-btn icon-remove cancel-btn pull-right"></a>
    <a href="javascript:" class="title-edit-btn icon-ok submit-btn pull-right"></a>
</script>

<script type="text/html" id="dropdown-menu-template">
        <button class="btn icon-cog dropdown-toggle" data-toggle="dropdown" href="#"></button>
        <ul class="dropdown-menu">
            <li><a href="javascript:" class="show-add-dialog">Add Featured Item</a></li>
            <li class="divider"></li>
            <li><a href="javascript:" class="edit-title">Change Title</a></li>
            <li><a href="javascript:" class="remove-section" data-remove-url="<%= remove_url %>">Remove Section</a></li>
        </ul>
</script>





    <script>
        URLS = {
            end_onboarding_tour: '/account/api/end-onboarding-tour'
        };
    </script>


<script>
    
</script>


</body>

</html>